<header>
    <div class="headingLogo">
        <a href="/"><img src="/ABM/public/img/logos/logo.png" alt="" class="logo"><a>
    </div>
   
    <nav class="nav-bar">
        <ul class="menuPrincipal">
            <li><a href="/products">PRODUCTOS</a></li>             
            <li> <a href="/user"><i class="fa-sharp fa-solid fa-user fa-2x"></i></a></li>
        </ul>
    </nav>
    <div class="mobile-nav-bar">
        <a href="/users"><i class="fa-sharp fa-solid fa-bars"></i></a>
        <a href="/user"><i class="fa-sharp fa-solid fa-user fa-2x"></i></a>
    </div>


</header>

