<!DOCTYPE html>
<html lang="en">
<body>
    <!-- INCLUDES HEADER-->
    <%- include('partials/header') %>
    <main class="index">

        <section class="banners">
            <div class="banner">
                <a href="/users">
                    <img src="img/banner1.jpg" alt="ir a productos" class="desktop">
                    <img src="img/banner1mobile.jpg" alt="ir a productos" class="mobile">
                </a>
    </main> 
</body> 
</html>
